.container {
  text-align: center;
  margin: 0 auto;
  width: 100vh;
  background-image: url('register.jpg'); /* Замени 'твоё_изображение.jpg' на реальное имя файла */
  background-size: cover; /* Масштабирует изображение, чтобы покрыть всю область */
  background-position: center; /* Выравнивает изображение по центру */
  /* Если нужно повторить фон, используй background-repeat: repeat; */
}


form {
  margin-top: 20px;
}
