.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Занимает всю высоту экрана */
}

form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Ширина формы */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Медиа-запрос для маленьких экранов */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  form {
    width: 90%;
  }
}
