/* registration.css */
body {
    background-color: #16082f;
    color: #fff;
    display: flex;
    align-items: center;
  /*  justify-content: center;  Добавляем для центрирования по горизонтали */
    height: 100vh; /* Занимаем всю высоту экрана */
 /*   margin: 0;*/
    overflow: hidden;
}


.registration-form {
    background-color: #00008b;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.form-group {
    margin-bottom: 20px;
}



.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 80%; /* Уменьшаем ширину полей */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2; /* Добавляем светло-серый фон полям */
}

.submit-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 767px) {
  .registration-form {
    width: 100%;
    padding: 10px;
  }
}

