/* registration.css */

body {
    background-color: #16082f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.registration-form {
    background-color: #00008b;
    width: 100px;
    height: 200px; /*число выше, блок тянется вниз*/
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Поднимаем блок вверх на 50 пикселей (при необходимости) */
    margin-top: 100px; /*число выше, блок ниже*/
}




.form-group {
    margin-bottom: 20px;
}



.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 80%; /* Уменьшаем ширину полей */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2; /* Добавляем светло-серый фон полям */
}

.submit-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 767px) {
  .registration-form {
    width: 80%;
    padding: 10px;
  }
}

