/* registration.css */
body {
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; /* Добавляем для центрирования по горизонтали */
    height: 100vh; /* Занимаем всю высоту экрана */
    margin: 0;
    overflow: hidden;
}

/*.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
*/

.main-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center; /* Центрируем по вертикали */
    padding: 20px;
    background-color: #000060;
}

.registration-form {
  /*  flex-grow: 1*/
    background-color: #00008b;
    padding: 20px;
    width: 300px;
   /* border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 10px;*/
}


.form-group {
    margin-bottom: 20px;
}





.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 80%; /* Уменьшаем ширину полей */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2; /* Добавляем светло-серый фон полям */
}

.submit-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


button {
    background-color: #4CAF50;
  /* Остальные стили */
}

@media (max-width: 767px) {
  .registration-form {
    width: 100%;
    padding: 10px;
  }
}

